@tailwind components;

body {
  background-color: #282c34;
}

.app {
  height: calc(100vh - 50px);
}

.page-container {
  @apply bg-gray-100 relative flex-grow;
}

.stat-card-divider {
  @apply w-11/12
    mx-auto
    py-1
    border-b-2
    border-black;
}

.btn-dflt {
  @apply px-2
    py-1
    m-2
    rounded-lg
    hover:bg-blue-400
    font-semibold
    focus:outline-none
    shadow-sm;
}

.mapboxgl-map {
  @apply h-full;
}
