body {
  background-color: #eef0f3;
}

.App {
  width: 975px;
  margin: 0 auto;
  background-color: white;
}

.tab-container {
  overflow: hidden;
}

.chartRow {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
